// src/components/Login.scss

@use "@/styles/abstracts" as *;
@use "@/styles/components/form" as form;

.signin {
    $primary-color: $dark-beige;
    $secondary-color: $wheat;
    $error-color: $deep-pink;
    $background-color: $silver;
    $form-background: #ffffff;
    $input-border: $silver;
    $input-focus-border: $charcoal;

    // 폼 스타일
    @include form.form-style($primary-color, $secondary-color, $error-color, $background-color, $form-background, $input-border, $input-focus-border);
}
