@use "@/styles/abstracts" as *;
// @use "@/styles/components";
@use "sass:color";

// 변수 정의
$primary-color: $dusty-rose;
$secondary-color: $deep-pink;
$text-color: $gray;
$background-color: $beige;
$footer-background: $light-gray;
$footer-text-color: $charcoal;

.landing-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $text-color;
    background: $background-color;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.landing-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: transparent;
    color: $text-color;
    padding: 30px 20px;

    h1 {
        font-size: 2.5em;
        margin: 0;
    }

    p {
        font-size: 1.2em;
        margin: 10px 0;
    }

    &-btn-wrapper {
        display: inline-flex;
        gap: 1rem;
    }
}

.landing-footer {
    background: $footer-background;
    color: $footer-text-color;
    padding: 20px;
    width: 100%;
    border-top: 1px solid color.scale($footer-background, $lightness: -10%);

    p {
        margin: 0;
    }
}
