// src/components/SignUp.scss

@use "@/styles/abstracts" as *;
@use "@/styles/components/form" as form;

.signup {
    // 변수 정의
    $primary-color: $light-pink;
    $secondary-color: $pastel-pink;
    $error-color: $deep-pink;
    $background-color: $silver;
    $form-background: #ffffff;
    $input-border: $silver;
    $input-focus-border: $charcoal;

    @include form.form-style($primary-color, $secondary-color, $error-color, $background-color, $form-background, $input-border, $input-focus-border);
}
